* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.custom-focus {
    --bs-focus-ring-color: rgba(208, 209, 203, 0.5);
    --bs-focus-ring-width: 0.4rem;
}

.btn-enhance:hover {
    background: rgba(208, 209, 203, 0.5);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(208, 209, 203, 0.5);
}

.btn-enhance:active {
    background: rgba(208, 209, 203, 0.7);
    transform: scale(1);
    box-shadow: 0 6px 20px rgba(208, 209, 203, 0.7);
}

.page-background-moon {
    background-image: linear-gradient(to bottom,
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.1) 10%,
        rgba(0,0,0,0) 90%,
        rgba(0,0,0,0) 100%
    ), url('./img/LL_moon.jpg') !important;
}

.page-background-sun {
    background-image: linear-gradient(to bottom,
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.1) 10%,
        rgba(0,0,0,0) 90%,
        rgba(0,0,0,0) 100%
    ), url('./img/LL_sun.jpg') !important;
}

.trapezoid {
    width: 100%;
    height: 60px;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.blog-post-w {
    border: 2px solid black;
}

.blog-post {
    position: relative;
    padding: 20px;
    width: 600px;
    height: 240px;
    border: 2px solid black;
    margin: auto 0;
}

.blog-post-div {
    height: 185px;
    width: 185px;
    line-height: 0;
}

.blog-post-div-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.video-webm {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.blog-title {
    font-family: STHupo, serif;
}

.blog-text {
    font-size: 50%;
}

.blog-post-box {
    height: 50px;
}

.blog-i {
    font-size: xx-small;
}

.gradient-text {
    background: linear-gradient(to right,
    #000000, #000000) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1300ms;
}

.gradient-text:hover {
    background-position-x: left;
    background-size: 100% 2px;
}

.blog-large-card {
    background: rgba(255, 255, 255, 0.8);
}

.blog-small-card {
    background: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#body-home-top {
    min-height: 80vh;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

#body-home-top-title-section {
    margin: auto 0;
}

#body-home-bottom-mainpage {
    min-height: 30vh;
    background: rgba(255, 255, 255, 1);
}

#nav {
    font-family: STHupo, serif;
}

#body-home-top-title-title {
    font-family: STHupo, serif;
    text-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
    background: -webkit-linear-gradient(135deg,
    #ffd8d1,
    #e44fac 25%,
    #fddb92 50%,
    #dfd96e 55%,
    #78d6ea 60%,
    #b079e1 80%,
    #ec92a4 95%,
    #ffd8d1);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    -webkit-background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    -webkit-background-size: 200% 100%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    -webkit-animation: flowCss 36s infinite linear;
}

#body-home-title:hover {
    -webkit-animation: flowCss 12s infinite linear;
}

@-webkit-keyframes flowCss {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

