.custom-focus {
    --bs-focus-ring-color: rgba(208, 209, 203, 0.5);
    --bs-focus-ring-width: 0.4rem;
}

.custom-spacing {

}

.btn-enhance:hover {
    background: rgba(208, 209, 203, 0.5);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(208, 209, 203, 0.5);
}

#body-home {
    padding: 0;
}

#body-home-top {
    border-bottom: 1px solid rgba(208, 209, 203, 0.5);
    min-height: 80vh;
    background-image: url(../src/img/LL_moon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
}

#body-home-top-title {
    margin: auto 0;
}

#body-home-bottom {
    min-height: 20vh;
    margin: 0;
    background: rgba(208, 209, 203, 0.5);
}

#nav {
    font-family: STHupo, serif;
}

#body-home-title {
    font-family: STHupo, serif;
    background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#body-home-title:hover {
    -webkit-animation: flowCss 8s infinite linear;
}

@-webkit-keyframes flowCss {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

