#body-home {
    background-image: url(../src/img/LL_moon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#nav {
    font-family: STHupo, serif;
}

